/* Ẩn scrollbar cho tất cả các phần tử */
::-webkit-scrollbar {
  display: none;  /* for Chrome, Safari, and Opera */
}

html, body {
  scrollbar-width: none;  /* for Firefox */
  -ms-overflow-style: none;  /* for Internet Explorer and Edge */
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f7f7f7;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

#chat-box {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  border-top: 2px solid #e0e0e0;
  border-bottom: 2px solid #e0e0e0;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 110px;
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
  animation: fadeIn 0.5s ease-in-out;
}

#input-box {
  display: flex;
  flex-direction: column;
  /* Sắp xếp các phần tử theo cột */
  padding: 10px;
  background: #fff;
  border-top: 1px solid #e0e0e0;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
  animation: slideUp 0.5s ease-in-out;
}

.input-area {
  display: flex;
  align-items: center;
  /* Canh giữa theo chiều dọc */
  width: 100%;
}

#input-box textarea {
  flex: 1;
  padding: 10px;
  border: 2px solid #007bff;
  margin-right: 10px;
  font-size: 18px;
  border-radius: 5px;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#input-box textarea:focus {
  border-color: #0056b3;
  box-shadow: 0 2px 10px rgba(0, 123, 255, 0.3);
}

#input-box button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  border-radius: 5px;
  margin-right: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#input-box button:last-child {
  margin-right: 0;
}

#input-box button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.note {
  font-size: 12px;
  color: #cacaca;
  margin-top: 10px;
  /* Tạo khoảng cách giữa note và các phần tử khác */
  text-align: center;
  /* Canh giữa văn bản */
}



.message {
  margin: 5px;
  padding: 12px 20px;
  border-radius: 20px;
  color: #333;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  word-wrap: break-word;
  position: relative;
  max-width: 70%;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  background-color: #ebebeb;
}

.user-message {
  background-color: #dcf8c6;
  margin-left: auto;
  align-self: flex-end;
  animation: slideInRight 0.5s ease-in-out;
  animation: fadeInUp 0.5s ease-in-out;
}

.ai-message {
  background-color: #ebebeb;
  margin-right: auto;
  align-self: flex-start;

}

.message .timestamp {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 12px;
  color: #888;
  transition: color 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.scroll-button {
  background: #FFFFFF;
  color: #000000;
  border: 2px solid #555;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  position: fixed;
  bottom: 130px;
  left: 50%;
  right: 50%;
  width: 35px; /* Giảm chiều rộng */
  height: 35px; /* Giảm chiều cao */
  border-radius: 50%; /* Làm cho nút tròn */
  cursor: pointer;
  font-size: 18px;
  z-index: 999;
  transition: background-color 0.3s, transform 0.2s;
}

.scroll-button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}


/* Responsive styles */
@media (max-width: 768px) {
  #chat-box {
    padding: 10px;
    padding-bottom: 120px;
  }

  #input-box textarea {
    font-size: 14px;
  }

  #input-box button {
    padding: 8px 15px;
    font-size: 14px;
  }

  .message {
    max-width: 90%;
  }

  .scroll-button {
    bottom: 140px;
  }
}

@media (max-width: 480px) {
  #chat-box {
    padding: 5px;
    padding-bottom: 120px;
  }

  #input-box textarea {
    font-size: 12px;
  }

  #input-box button {
    padding: 6px 10px;
    font-size: 12px;
  }

  .message {
    max-width: 95%;
  }
  .scroll-button {
    bottom: 140px;
  }
}

.speak-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  padding: 0;
  outline: none;
  transition: color 0.3s;
}


#stop-speaking:hover,
#stop-listening:hover {
  background-color: #cc0000;
  color: white;
  transform: scale(1.05);
}

.ai-message-content {
  position: relative;
}

#toggle-dark-mode {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#toggle-dark-mode:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Dark mode styles */
body.dark-mode {
  background-color: #212121;
  color: #f7f7f7;
}

body.dark-mode #chat-box {
  background: #444;
  border-top-color: #555;
  border-bottom-color: #555;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

body.dark-mode #input-box {
  background: #444;
  border-top-color: #555;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
}

body.dark-mode #input-box textarea {
  background: #555;
  border-color: #007bff;
  color: #f7f7f7;
}

body.dark-mode #input-box textarea:focus {
  border-color: #0056b3;
  box-shadow: 0 2px 10px rgba(0, 123, 255, 0.3);
}

body.dark-mode #input-box button {
  background-color: #007bff;
  color: #f7f7f7;
}

body.dark-mode #input-box button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

body.dark-mode .message {
  color: #f7f7f7;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

body.dark-mode .user-message {
  background-color: #6fa56f;
}

body.dark-mode .ai-message {
  background-color: #555;
}

body.dark-mode .message .timestamp {
  color: #bbb;
}

body.dark-mode .speak-button {
  color: #f7f7f7;
}
body.dark-mode .scroll-button {
  background: #333;
  color: #f7f7f7;
  border: 2px solid #555;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}
/* code block styles */
/* Styles for code blocks */
pre {
  background-color: #f8f8f8;
  /* Light grey background */
  padding: 20px;
  /* Padding around the code */
  border-radius: 5px;
  /* Rounded corners */
  overflow-x: auto;
  /* Horizontal scroll for long lines */
}

/* Styles for code syntax highlighting */
/* Code block styles */
/* Code block styling with a modern appearance */
pre {
  background: #282c34;
  /* Dark background for better contrast */
  color: #abb2bf;
  /* Soft white text color for better readability */
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 10px;
  /* Rounded corners for a sleek look */
  border: 1px solid #ccc;
  /* Subtle border */
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 16px;
}

/* Styling for ul and li */
ul {
  list-style-type: disc;
  /* Loại bullet cho danh sách */
  margin-bottom: 1em;
  /* Khoảng cách dưới cùng của danh sách */
}

li {
  margin-bottom: 0.5em;
  /* Khoảng cách giữa các mục */
}

ul li code {
  font-size: 16px;
  /* Đặt kích thước font cho thẻ code */
  background-color: #282c34;
  color: #abb2bf;
  /* Màu nền cho thẻ code */
  border: 1px solid #ccc;
  /* Viền xung quanh thẻ code */
  border-radius: 3px;
  /* Bo tròn góc của thẻ code */
  padding: 2px 4px;
  /* Đệm cho nội dung bên trong thẻ code */
  font-family: 'Courier New', monospace;
  /* Font chữ cho thẻ code */
  /* Màu chữ */
}


/* Styling for different types of code */
pre code .keyword {
  color: #c678dd;
}

/* Purple for keywords */
pre code .function {
  color: #61afef;
}

/* Light blue for functions */
pre code .string {
  color: #98c379;
}

/* Green for strings */
pre code .comment {
  color: #5c6370;
  font-style: italic;
}

/* Grey for comments */
pre code .variable {
  color: #d19a66;
}

/* Orange for variables */
pre code .number {
  color: #dcdcaa;
}

/* Yellow for numbers */

/* Responsive touch */
@media (max-width: 600px) {
  pre {
    padding: 0.5em;
    font-size: 14px;
    /* Smaller font size on smaller screens */
  }
}


/* Style cho thẻ hr */
hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
}

/* Style cho nút button */
button {
  padding: 3px 4px;
  border: 2px solid #007bff;
  /* Thêm viền với màu xanh */
  background-color: transparent;
  /* Làm nền trong suốt */
  color: #007bff;
  /* Màu chữ giống màu viền */
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.3s;

  border-radius: 5px;
  margin-right: 10px;
  /* Thêm hiệu ứng chuyển đổi */
}

/* Hover effect cho nút button */
button:hover {
  background-color: #007bff;
  /* Màu nền khi rê chuột vào */
  color: #fff;
  /* Màu chữ khi rê chuột vào */
}

button:disabled {
  background-color: #e0e0e0;
  /* Màu nền khi nút bị disabled */
  color: #a0a0a0;
  /* Màu chữ khi nút bị disabled */
  border: 1px solid #ccc;
  /* Viền của nút khi bị disabled */
  cursor: not-allowed;
  /* Con trỏ chuột khi hover vào nút bị disabled */
  opacity: 0.6;
  /* Độ mờ của nút khi bị disabled */
}

button:disabled:hover {
  background-color: #e0e0e0;
  /* Không thay đổi màu nền khi hover vào nút bị disabled */
  color: #a0a0a0;
  /* Không thay đổi màu chữ khi hover vào nút bị disabled */
  border: 1px solid #ccc;
  /* Không thay đổi viền khi hover vào nút bị disabled */
}

/* styles.css */
.pwa-prompt {
  position: fixed;
  top: -100px;
  /* Ẩn thông báo lúc đầu */
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
  color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: top 0.5s ease-in-out;
  z-index: 1000;
  width: 90%;
  max-width: 500px;
}

.pwa-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pwa-content p {
  margin: 0;
  padding-right: 10px;
  flex: 1;
}

.pwa-content div {
  display: flex;
  gap: 10px;
}

.pwa-content button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  margin-right: 10px;
}

.pwa-content button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Responsive touch */
@media (max-width: 600px) {
  .pwa-prompt {
    top: -80px;
    padding: 10px;
  }

  .pwa-content button {
    padding: 3px 8px;
    font-size: 14px;
  }

  .pwa-content p {
    font-size: 14px;
  }
}

.clear-button {
  background: transparent !important;
  border: 2px solid rgb(255, 0, 0) !important;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  margin-right: 10px;
}

.clear-button:hover {
  background-color: #ff0000;
  color: white;
}


.stop-button {
  background-color: #ff0000 !important;
  color: white !important;
  cursor: pointer;
  font-size: 18px !important;
  transition: background-color 0.3s;
}

.stop-button:hover {
  background: transparent !important;
  border: 2px solid rgb(255, 0, 0) !important;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  border-radius: 5px;
  border-radius: 5px;
  margin-right: 10px;
}
